<style>
    .product-image {
        max-width: 200px;
        /* Adjust the maximum width as needed */
        max-height: 150px;
        /* Adjust the maximum height as needed */
    }

    .user-photo-container {
        width: 50px;
        /* Adjust width as needed */
        height:
            50px;
        /* Adjust height as needed */
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
    }

    .user-photo {
        width: 100%;
        height: auto;
    }

    .username {
        text-align: center;
        font-size: 12px;
        /* Adjust font size as needed */
        margin-top: 5px;
        /* Adjust top margin as needed */
    }
</style>

<button data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar"
    type="button"
    class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
        </path>
    </svg>
</button>

<aside id="separator-sidebar"
    class="fixed top-0 bg-gray-900 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto  dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            <li>
                <a href="/users" class="text-center flex items-center ps-2.5 mb-5">
                    <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Trial Mate</span>
                </a>
            </li>
            <li>
                {{#if session.loggedIn}}
                <div class="bg-gray-800  gap-1 p-4 rounded-t-lg flex flex-col items-center ">
                    <img class=" w-12 h-12 rounded-full shadow-lg"
                        src="https://trialmate.s3.amazonaws.com/{{ user_data.photoUrl }}" alt="Profile" />
                    <div class=" text-center">
                        <h5 class=" text-md font-medium text-white dark:text-white">{{ user_data.name }}</h5>
                        <span class="text-xs text-gray-200 dark:text-gray-400">{{ user_data.username }}</span>
                    </div>
                </div>
                {{/if}}
            </li>
            <div class="bg-gray-800">
                <li>
                    <a href="/users/dashboard"
                        class="flex text-white items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="w-5 h-5 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 22 21">
                            <path
                                d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                            <path
                                d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
                        </svg>
                        <span class="group-hover:text-gray-900 ms-3">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/product/searchp"
                        class="flex text-white items-center p-2 text-gray-900 bg-gray-400  rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="w-5 h-5  transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 18 20">
                            <path
                                d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z" />
                        </svg>
                        <span class="group-hover:text-gray-900  flex-1 ms-3 whitespace-nowrap">Search Products</span>
                    </a>
                </li>
            </div>
        </ul>
        <ul class="pt-4 mt-4 space-y-2  font-medium border-t border-gray-200 dark:border-gray-700">
            <li>
                <a href="/logout"
                    class="flex items-center bg-red-900 p-2 text-white rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3" />
                    </svg>
                    <span class="hover:text-gray-700 flex-1 ms-3 whitespace-nowrap">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

<div class=" bg-gray-900 sm:ml-64 p-4">
    <div class="p-4 bg-gray-800 border-gray-200 rounded-lg dark:border-gray-700">
        <div class="flex flex-wrap mb-2">
            <h2 class="text-3xl p-2 font-normal text-white">Search Users</h2>
        </div>
        <form action="/users/searchu" method="GET">
            <div class="form-group mb-4">
                <label for="username"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="text" id="username" name="username"
                        class="form-control block w-full pl-10 pr-3 py-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Username" />
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="location"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location</label>
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="text" id="location" name="location"
                        class="form-control block w-full pl-10 pr-3 py-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Location" />
                </div>
            </div>

            <button type="submit"
                class="btn btn-primary text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>

        </form>
        <div class="grid grid-cols-4 gap-4 mb-4">
            {{#each products}}

            <div class="max-w-sm bg-gray-400 rounded-md shadow dark:bg-gray-800 dark:border-gray-700">
                <figcaption class="flex   items-center justify-start m-4">
                    <img class="rounded-full w-9 h-9" src="https://trialmate.s3.amazonaws.com/{{this.user.photoUrl}}"
                        alt="User Image" class="user-photo">
                    <div class="font-medium dark:text-white text-left rtl:text-right ms-3">
                        <a href="/users/{{this.user.id}}" class="username text-white">{{this.user.username}}</a>
                    </div>
                </figcaption>
                <a href="#" data-popover-target="popover-image-{{this.id}}" data-popover-placement="bottom">
                    <image class="" src="https://trialmate.s3.amazonaws.com/{{this.photoUrl}}">
                </a>

                <div class="p-2">
                    <div class="grid grid-cols-6">
                        <a href="#" class="grid-cols-3">
                            <h5 class=" text-2xl font-bold tracking-tight text-white dark:text-white">{{this.title}}
                            </h5>
                        </a>
                        <div class="text-right col-end-7 col-span-5  ">
                            <form action="/product/trial" method="POST">
                                <input type="hidden" name="UserId" value="{{this.user._id}}" />
                                <input type="hidden" name="Id" value="{{this._id}}" />
                                <input type="hidden" name="Brand" value="{{this.brand}}" />
                                <input type="hidden" name="Title" value="{{this.title}}" />
                                <input type="hidden" name="Description" value="{{this.description}}" />
                                <input type="hidden" name="Price" value="{{this.price}}" />
                                <input type="hidden" name="Location" value="{{this.location}}" />
                                <input type="hidden" name="photoUrl" value="{{this.photoUrl}}" />
                                <button type="submit"
                                    class="btn btn-success text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Trial</button>
                            </form>
                        </div>
                    </div>
                    <p class="mb-3 font-normal text-white dark:text-gray-400">{{this.description}}</p>
                </div>
                <div data-popover id="popover-image-{{this.id}}" role="tooltip"
                    class="absolute p-4 z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-96 dark:text-gray-400 dark:bg-gray-800 dark:border-gray-600">
                    <h2 class="text-xl font-bold text-gray-900">{{title}}</h2>
                    <h3 class="text-lg text-gray-700">Brand : {{brand}}</h3>
                    <p class="text-gray-600">Description: {{description}}</p>
                    <p class="text-gray-900 font-semibold">Price: ${{price}}</p>
                    <p class="text-gray-500">Location: {{location}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>