<style>
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  .booking-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-weight: bold;
  }

  input[type="date"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button[type="submit"] {
    display: block;
    width:
      100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }
</style>

<style>
  .product-image {
    max-width: 200px;
    /* Adjust the maximum width as needed */
    max-height: 150px;
    /* Adjust the maximum height as needed */
  }

  .user-photo-container {
    width: 50px;
    /* Adjust width as needed */
    height:
      50px;
    /* Adjust height as needed */
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
  }

  .user-photo {
    width: 100%;
    height: auto;
  }

  .username {
    text-align: center;
    font-size: 12px;
    /* Adjust font size as needed */
    margin-top: 5px;
    /* Adjust top margin as needed */
  }
</style>

<button data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
    </path>
  </svg>
</button>

<aside id="separator-sidebar"
  class="fixed top-0 bg-gray-900 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto  dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <a href="/users" class="text-center flex items-center ps-2.5 mb-5">
          <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Trial Mate</span>
        </a>
      </li>
      <li>
        {{#if session.loggedIn}}
        <div class="bg-gray-800  gap-1 p-4 rounded-t-lg flex flex-col items-center ">
          <img class=" w-12 h-12 rounded-full shadow-lg"
            src="https://trialmate.s3.amazonaws.com/{{ user_data.photoUrl }}" alt="Profile" />
          <div class=" text-center">
            <h5 class=" text-md font-medium text-white dark:text-white">{{ user_data.name }}</h5>
            <span class="text-xs text-gray-200 dark:text-gray-400">{{ user_data.username }}</span>
          </div>
        </div>
        {{/if}}
      </li>
      <div class="bg-gray-800">
        <li>
          <a href="/users/dashboard"
            class="flex text-white items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <svg
              class="w-5 h-5 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
              <path
                d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
              <path
                d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
            </svg>
            <span class="group-hover:text-gray-900 ms-3">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/product/searchp"
            class="flex text-white items-center p-2 text-gray-900 bg-gray-400  rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <svg
              class="w-5 h-5  transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
              <path
                d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z" />
            </svg>
            <span class="group-hover:text-gray-900  flex-1 ms-3 whitespace-nowrap">Search Products</span>
          </a>
        </li>
      </div>
    </ul>
    <ul class="pt-4 mt-4 space-y-2  font-medium border-t border-gray-200 dark:border-gray-700">
      <li>
        <a href="/logout"
          class="flex items-center bg-red-900 p-2 text-white rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <svg
            class="flex-shrink-0 w-5 h-5 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3" />
          </svg>
          <span class="hover:text-gray-700 flex-1 ms-3 whitespace-nowrap">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<div class="h-screen p-4 bg-gray-900 sm:ml-64">
  <div class="p-4 bg-gray-800 border-gray-200 rounded-lg dark:border-gray-700">
    <div class="flex flex-wrap mb-2">
      <h2 class="text-3xl p-2 font-normal text-white">Book a Trial</h2>
    </div>
    <form action="/product/book" method="POST" class="booking-form">
      <input type="hidden" name="productUserId" value="{{puserId}}" />
      <input type="hidden" name="productId" value="{{pId}}" />
      <input type="hidden" name="brand" value="{{brand}}" />
      <input type="hidden" name="title" value="{{title}}" />
      <input type="hidden" name="description" value="{{description}}" />
      <input type="hidden" name="price" value="{{price}}" />
      <input type="hidden" name="location" value="{{location}}" />
      <input type="hidden" name="photoUrl" value="{{photoUrl}}" />
      <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required />
      </div>
      <div class="form-group">
        <label for="time">Select Time Slot:</label>
        <select id="time" name="time" required>
          <option value="">Select Time Slot</option>
          <option value="9:00 AM - 10:00 AM">9:00 AM - 10:00 AM</option>
          <option value="10:00 AM - 11:00 AM">10:00 AM - 11:00 AM</option>
          <option value="1:00 PM - 2:00 PM">1:00 PM - 2:00 PM</option>
          <option value="2:00 PM - 3:00 PM">2:00 PM - 3:00 PM</option>
          <option value="3:00 PM - 4:00 PM">3:00 PM - 4:00 PM</option>
          <option value="4:00 PM - 5:00 PM">4:00 PM - 5:00 PM</option>
          <option value="5:00 PM - 6:00 PM">5:00 PM - 6:00 PM</option>
          <option value="6:00 PM - 7:00 PM">6:00 PM - 7:00 PM</option>
          <option value="7:00 PM - 8:00 PM">7:00 PM - 8:00 PM</option>
          <option value="8:00 PM - 9:00 PM">8:00 PM - 9:00 PM</option>
        </select>
      </div>
      <button type="submit">Book</button>
    </form>
  </div>

  <script>
  // Get today's date var today = new Date(); // Calculate the date one month
  from today var nextMonth = new Date(today.getFullYear(), today.getMonth() + 1,
    today.getDate()); // Format the date in YYYY-MM-DD format for the input
  element var formattedDate = nextMonth.toISOString().slice(0, 10); // Set the
  min and max attributes of the date input element
    document.getElementById('date').setAttribute('min',
      today.toISOString().slice(0, 10));
    document.getElementById('date').setAttribute('max', formattedDate);
  </script>